# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# uv/astral-sh
.uv/
.uv-cache/
uv.lock.bak

# Test & coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
.pyre/
